@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;700&display=swap');

@layer base {
    body {
        background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M 10,-2.55e-7 V 20 Z M -1.1677362e-8,10 H 20 Z'  stroke-width='0.5' stroke='hsla(309, 0%, 20%, 0.1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-8,-10)' fill='url(%23a)'/></svg>");
        font-family: 'Noto Sans TC', sans-serif;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
    }
}

.markdown {
    @apply 
        prose-blockquote:not-italic prose-blockquote:text-gray-500
}

.post-card {
    @apply bg-postCard rounded-lg shadow-md border md:border-2 border-gray-100 active:border-cardDate md:hover:border-cardDate duration-150 md:duration-500;
}